{% extends "registration/password_reset_base.html" %}

{% block title %}Password updated{% endblock %}
{% block icon %}bi-check-circle{% endblock %}
{% block heading %}Password updated{% endblock %}
{% block subheading %}Your password has been changed successfully. You can now sign in with your new password.{% endblock %}

{% block content %}
    <a class="login-button" href="{% url 'login' %}">
        <span class="login-button-content">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Sign in</span>
        </span>
    </a>
{% endblock %}
